
{% extends 'personal/personal.html'%}

{%block personal%}
{% load static %}





     <!-- chart.js 3.7.1 CDN (Content Delivery Network) -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>



            <!-- contnet -->
            <div class="content-container container p-0" id="content">

                <div class="row" id="content-row">

                    <!-- tab content -->
                    <div class="tab-content">


                        <!-- asset content -->
                        <div class="container tab-pane show active col-12 mb-5 p-0 " role="tabpanel" id="pane-asset" aria-labelledby="tab-asset">

                            <div class="row mt-2 mb-5" id="user-asset-intro">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                    <div>
                                        <h1 class="content-title" id="user-asset-title">
                                            <span style="font-size:2.5em;font-weight: 600;">個人資產 </span><br>
                                            <span style="font-size:1.0649em;font-weight: 600;">Personal Assets</span>
                                        </h1>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7" id="user-asset-img-div">
                                    <img id="user-asset-img" src="{%static 'imgs/user-asset850.jpg'%}">
                                </div>
                            </div>

                            <!-- Asset Display card -->
                            <div class="row p-3" id="three-cards">

                                <div class="col-12 col-sm-10 col-md-6 col-lg-3 col-xl-4 displays">
                                    <div class="card shadow">
                                        <div class="card-body p-2" id="asset-profit-card">
                                            <div class="mt-2" id="profit-title">
                                                <h5 class="card-title mt-0.5">Asset Profit</h5>
                                                <button type="button" class="btn btn-default p-0" id="invisible-switch"
                                                    data-toggle="tooltip" data-placement="right" title="hide">
                                                    <i class="fa-solid fa-eye-slash"></i>
                                                </button>
                                                <button type="button" class="btn btn-default p-0" id="visible-switch"
                                                    data-toggle="tooltip" data-placement="right" title="show">
                                                    <i class="fa-solid fa-eye"></i>
                                                </button>
                                            </div>
                                            <div class="b-div">
                                                <div id="profit-num">
                                                    <b class="b-num">{{totalAsset}}</b>
                                                </div>
                                                <div id="unit" style="font-size:23px;">
                                                    <div class="">
                                                        <b class="b-unit" style="font-size:25px;">ETH</b>
                                                    </div>
                                                    <div style="color:#dc3545;">
                                                        <b class="b-unit" style="font-size:25px;">0.2%</b>
                                                        <i class="fas fa-arrow-circle-down"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Total of Holdings -->
                                <div class="col-12 col-sm-10 col-md-6 col-lg-3 col-xl-3 displays">
                                    <div class="card shadow">
                                        <div class="card-body p-3">
                                            <h5 class="card-title" id="total-holdings">Total of Holdings</h5>
                                            <div class="b-div">
                                                <div id="holdings-num">
                                                    <b class="b-num">{{totaltokennum}}</b>
                                                </div>
                                                <div class="unit">
                                                    <div>
                                                        <b class="b-unit">ITEMS</b>
                                                    </div>
                                                    <div
                                                        style="color:#7fdf48;display:flex;justify-content: space-between;align-items:center;font-size:20px;">
                                                        <b class="b-percent">3%</b>
                                                        <i class="fas fa-arrow-circle-up"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sum -->
                                <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-5 displays" id="sum">
                                    <div class="card shadow">
                                        <div class="card-body p-3 convert-card">
                                            <div id="convert-card"
                                                style="display: block;justify-content: center;align-items: center;">
                                                <h5 class="convert-title">Convert into NTD</h5>

                                                <div class="b-div" style="margin-top: 5%;">
                                                    <div id="convert-num">
                                                        <b class="convert-num">{{etherAsset.etherToTWD}}</b>
                                                    </div>
                                                    <div class="unit">
                                                        <div>
                                                            <b id="convert-unit">NTD</b>
                                                        </div>
                                                        <div
                                                            style="color:#7fdf48;display:flex;justify-content: space-between;align-items:center;font-size:25px;">
                                                            <b class="convert-percent"></b>
                                                            <i class="fas fa-arrow-circle-up"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="chart-row">

                                <!-- chart -->
                                <div class="card shadow rounded mb-5 col-7 col-sm-12 col-lg-7">
                                    <div class="card-body">
                                        <div style="padding:0;border-bottom: 2px solid darkgrey;">
                                            <h4 class="card-title">My Assets</h4>
                                            <p class="card-text" style="margin-bottom:10px;">Here's all assets that you
                                                currently have.
                                            </p>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <h3>Holdings</h3>
                                                <div class="canvas-container">
                                                    <canvas id="assetChart" aria-label="Asset Chart"
                                                        role="canvas"></canvas>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <script>
                                    var asset = document.getElementById('assetChart').getContext('2d');
                                    var myChart = new Chart(asset, {
                                        type: 'pie',
                                        data: {
                                            labels: [{%for CustomerOrdersKey in CustomerOrdersKeys%}'{{CustomerOrdersKey}}',{%endfor%}],
                                            datasets: [{
                                                label: 'prpportion of NFT1',
                                                data: [{%for CustomerOrdersvalue in CustomerOrdersvalues%}{{CustomerOrdersvalue}},{%endfor%}],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.4)',
                                                    'rgba(54, 162, 235, 0.4)',
                                                    'rgba(255, 206, 86, 0.4)',
                                                    'rgba(75, 192, 192, 0.4)',
                                                    'rgba(153, 102, 255, 0.4)',
                                                    'rgba(255, 159, 64, 0.4)'
                                                ],
                                                borderColor: [
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderWidth: 4

                                            }]
                                        },
                                        options: {
                                            response: true,
                                            maintainAspectRatio: false,
                                            plugins: {
                                                legend: {
                                                    position: "right",
                                                    align: "middle",
                                                    padding: {
                                                        top: 50,
                                                        bottom: 10
                                                    },
                                                    labels: {
                                                        font: {
                                                            size: 14
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                                <div class="card shadow rounded mb-5 col-4 col-sm-8 col-lg-4">
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural
                                            lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <p class="p-4">
                                    The chart above automatically gathers user's assets data and shows in different
                                    types.
                                    You can simply click on the button on top right corner to change chart types.
                                </p>
                            </div>
                            <!-- end chart -->

                            <!-- asset table -->
                            <div class="col-12 p-3 mb-5 tables" id="asset-table-div">
                                <h3 class="table-header">List Assets</h3>
                                <div class="table-container p-3">
                                    <table class="table table-hover table-lg" id="assettable">

                                        <thead class="thead-dark text-center">
                                            <tr>
                                                <th scope="col">Row</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">TOKEN ID</th>
                                                <th scope="col">Asset Name</th>
                                                <th scope="col">Bought Date</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Transaction fee</th>
                                                <th scope="col">Total fee</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Detail</th>
                                                <th scope="col">Enter</th>
                                                <th scope="col">Authentication</th>
                                            </tr>

                                        </thead>
                                        {%for myOrder in myOrders%}
                                        <tbody class="text-center">
                                            <tr>
                                                <th scope="row" id ="rowNum">{{ forloop.counter }}</th>
                                                <td>{{myOrder.id}}</td>
                                                <td id='astokenid'>{{myOrder.tokenID}}</td>
                                                <td>{{myOrder.events.eventname}}</td>
                                                <td>{{myOrder.date_created}}</td>
                                                <td>{{myOrder.orderPrice}} <span>ETH</span></td>
                                                <td>{{myOrder.orderHandlingfee}} <span>ETH</span></td>
                                                <td>{{myOrder.orderTotalPrice}} <span>ETH</span></td>
                                                <td>{{myOrder.orderNumber}}</td>
                                                <td>{{myOrder.status}}</td>
                                                <td></td>

                                                <td class="enter">
                                                        {%if authStatus == strValid %}
                                                            <button type="button" class="enter-btn" data-toggle="modal" data-target="#enterModal"
                                                            data-placement="right" title="Enter event" > enter
                                                                <i class="fa-solid fa-door-open fa-fade"></i>
                                                            </button>
                                                        {%else%}
                                                            <button type="button" class="enter-btn" data-toggle="modal" data-target="#enterModal"
                                                            data-placement="right" title="Enter event" disabled> enter
                                                                <i class="fa-solid fa-door-open fa-fade"></i>
                                                            </button>
                                                        {%endif%}

                                                </td>
                                                <td class="auth">
                                                    {% comment %} <a href="{% url 'Auth' myOrder.id %}" {% endcomment %}
                                                    <button type="button" class="auth-btn" data-toggle="modal" data-target="#authModal"
                                                    ata-placement="right" title="Authentications">auth.
                                                        <i class="fa-solid fa-shield fa-fade"></i>

                                                    {% comment %} </button> {% endcomment %}
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                        {%endfor%}
                                    </table>
                                </div>
                            </div>

                            <!-- transfering items table -->
                            <div class="col-12 mt-5 mb-5 p-3 tables" id="transferItem-table-div">
                                <h3 class="table-header mb-3">Transfering Items</h3>
                                <div class="table-container p-3">
                                    <table class="table table-hover">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th scope="col">TOKEN ID</th>
                                                <th scope="col">Sender</th>
                                                <th scope="col">Recipiant</th>
                                                <th scope="col">Transfer Event</th>
                                                <th scope="col">Note</th>
                                                <th scope="col">Date of Application</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        {%for transfer in transferappllieds%}
                                        <tbody class="text-center">
                                            <tr>
                                                <th scope="row">{{transfer.id}}</th>
                                                <td>{{transfer.Sender.customeruser.username}}</td>
                                                <td>{{transfer.Receiver.customeruser.username}}</td>
                                                <td>{{transfer.tranferEvent.eventname}}</td>
                                                <td>{{transfer.senderNote}}</td>
                                                <td>{{transfer.transferDate_created}}</td>
                                                <td>{{transfer.status}}</td>
                                            </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- to be received table -->
                            <div class="col-12 mt-5 mb-5 p-3 tables" id="receiveItem-table-div">
                                <h3 class="table-header mb-3">Receiving Items</h3>
                                <div class="table-container p-3">
                                    <table class="table table-hover">
                                        <thead class="thead-light text-center">
                                            <tr>
                                                <th scope="col">Row</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">TOKEN ID</th>
                                                <th scope="col">Sender</th>
                                                <th scope="col">Transfer Event</th>
                                                <th scope="col">Note</th>
                                                <th scope="col">Date of Application</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Accept</th>
                                            </tr>
                                        </thead>
                                        {%for transferreceived in transferreceiveds%}
                                        <tbody class="text-center">
                                            <tr>
                                                <th scope="row" id ="rowNumtr">{{ forloop.counter }}</th>
                                                <th id="Transferid"scope="row" id="ID">{{transferreceived.id}}</th>
                                                <th id="tokenID"scope="row" id="transferid">{{transferreceived.tokenID}}</th>
                                                <td id="Cusname">{{transferreceived.Sender.customeruser.username}}</td>
                                                <td id="item-name">{{transferreceived.tranferEvent.eventname}}</td>
                                                <td id="transfernote">{{transferreceived.senderNote}}</td>
                                                <td id="transferDate">{{transferreceived.transferDate_created}}</td>
                                                <td id="transferstatus">{{transferreceived.status}}</td>
                                                <td class="claim">
                                                    <button type="button" class="status-btn" data-toggle="modal"
                                                        data-target="#claimModal" title="claim my asset"
                                                        style="color: rgb(242, 157, 0);">claim
                                                        <i class="fa-solid fa-triangle-exclamation fa-beat"></i>
                                                    </button>
                                                    {% comment %} <a href="{%url 'Accepttransfer' exhibitionEvent.id %}" class="btn btn-primary">展覽內容</a> {% endcomment %}
                                                    {% comment %} <a href="" class="status-btn" data-toggle="modal" id="confirm"
                                                            data-target="#claimModal" data-placement="right"
                                                            title="claim my asset" style="color:rgb(242, 157, 0);">claim
                                                            <i class="fa-solid fa-triangle-exclamation fa-beat"></i>

                                                    </a> {% endcomment %}
                                                    {% comment %} <button onclick="Accepttransfer" class="status-btn" data-toggle="modal" id="confirm"
                                                            data-target="#claimModal" data-placement="right"
                                                            title="claim my asset" style="color:rgb(242, 157, 0);">claim
                                                            <i class="fa-solid fa-triangle-exclamation fa-beat"></i>

                                                    </button> {% endcomment %}
                                                </td>
                                            </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="authModal" role="dialog" style="z-index: 1000000000  !important; " data-backdrop="false">
                                <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">密碼驗證</h4>
                                            <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                        </div>

                                        <div class="modal-body">
                                            <form action="Auth" method="POST" name="auth">
                                                {% csrf_token %}

                                                  <div class="form-group">
                                                    <label for="confirm-recei">TokenID</label>
                                                    <input type="text" id="tokenIDpwd"  name="tokenIDpwd" class="form-control"  placeholder="Authen pwd input" readonly="readonly"  >
                                                    <label for="auth-pwd">請輸入自行設定之密碼</label>

                                                    <input type="text" id="auth-pwd" name="auth-pwd"class="form-control" placeholder="Authen pwd input" style="border:1px solid lightgray;" required>
                                                  </div>
                                                  <div class="confirm mt-2 mb-3" id="confirm-btn-div">
                                                          <p class="mt-3" style="text-align:center;">要驗證嗎？若點按「取消」將會跳出視窗</p>
                                                          <div style="margin: 0 36%;">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                              <button type="submit" class="btn btn-success">驗證</button>
                                                          </div>
                                                  </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="claimModal" role="dialog"  style="z-index: 1000000000  !important; " data-backdrop="false">
                                <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
                                    <!-- Modal content-->
                                    <div class="modal-content" >
                                        <div class="modal-header">
                                            <h4 class="modal-title">確認訊息</h4>
                                            <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                        </div>

                                        <div class="modal-body" >
                                            <form action='Accept' method="POST">
                                                {% csrf_token %}

                                                <!-- <fieldset disabled> -->
                                                  <legend>確認並索取資產</legend>
                                                  <div class="form-group mt-4">
                                                    <label for="confirm-recei">轉讓編號</label>
                                                    <input type="text" id="transferID"  name="transferID" class="form-control"  placeholder="Disabled input" readonly="readonly"  >
                                                  </div>
                                                  <div class="form-group mt-4">
                                                    <label for="confirm-recei">轉讓物品序號</label>
                                                    <input type="text" id="tokenIDinput"  name="tokenID" class="form-control"  placeholder="Disabled input" readonly="readonly"  >
                                                  </div>
                                                  <div class="form-group mt-4">
                                                    <label for="confirm-recei">確認接收者</label>
                                                    <input type="text" id="confirm-recei"  name="confirm-recei" class="form-control"  value ="{{customerProfile.customeruser.username}}"placeholder="Disabled input" readonly="readonly"  >
                                                  </div>
                                                  {% comment %} value = "{{transferaccept.Sender.customeruser.username}}"  {% endcomment %}
                                                  <div class="form-group">
                                                    <label for="confrim-sender">確認提出轉讓使用者名稱</label>
                                                    <input type="text" id="confrim-sender" name="confrim-sender"class="form-control" placeholder="Disabled input" readonly="readonly">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="confirm-item">確認轉讓項目</label>
                                                    <input type="text" id="confirm-item"  name="confirm-item"class="form-control" placeholder="Disabled input" readonly="readonly" >
                                                  </div>
                                                  <div class="form-group mb-3">
                                                    <label for="confirm-msg">確認訊息</label>
                                                    <input type="text" id="confirm-msg" name="confirm-msg" class="form-control" placeholder="Disabled input" readonly="readonly">
                                                  </div>
                                                  <div class="confirm mt-2 mb-3" id="confirm-btn-div">
                                                          <p class="mt-3" style="text-align:center;">要確認嗎？若點按「取消」將會跳出視窗</p>
                                                          <div style="margin: 0 36%;">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                              {% comment %} <input type="submit" class="btn btn-success" value="送出"> {% endcomment %}
                                                              <button type="submit" class="btn btn-success" >確認</button>
                                                          </div>
                                                  </div>
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <script>
                            $('.status-btn').click(function () {

                                let trid = $('#Transferid').html();
                                console.log("Value = " + trid);
                                $('#transferID').val(trid)
                                $('#transferID')[0].placeholder = trid;

                                let token = $('#tokenID').html();
                                console.log("Value = " + token);
                                $('#tokenIDinput').val(token)
                                $('#tokenIDinput')[0].placeholder = token;

                                let Cusname = $('#Cusname').html();
                                console.log("Value = " + Cusname);
                                $('#confrim-sender').val(Cusname)
                                $('#confrim-sender')[0].placeholder = Cusname;

                                let itemNames = $('#item-name').html();
                                console.log("Value = " + itemNames);
                                $('#confirm-item').val(itemNames)
                                $('#confirm-item')[0].placeholder = itemNames;

                                let msg = $('#transfernote').html();
                                console.log("Value = " + msg);
                                $('#confirm-msg').val(msg)
                                $('#confirm-msg')[0].placeholder = msg;

                            });
                            var tabletransfer =document.getElementById("assettable"),rIndex

                            $('.auth-btn').click(function () {
                                let rowNum1 = $('#rowNum').html();
                                console.log("Value = " + rowNum1);
                                let astokenid = $('#astokenid').html();
                                console.log("Value = " + astokenid);
                                $('#tokenIDpwd').val(astokenid)
                                $('#tokenIDpwd')[rowNum1].placeholder = astokenid;




                            });



                        </script>
                        {% comment %} <script>


                               let rowNum1 = $('#rowNum').html();
                                        console.log("Value = " + rowNum1);
                                        let astokenid = $('#astokenid').html();
                                        console.log("Value = " + astokenid);
                                        $('#tokenIDpwd').val(astokenid)
                                        $('#tokenIDpwd')[rowNum1].placeholder = astokenid;
                            $('#confirm').click(function () {

                                var Cusname = document.querySelector('#Cusname').value;
                                var s4_recei_notes = document.querySelector("#confirm-recei");
                                s4_recei_notes.textContent = Cusname;

                            });

                        </script> {% endcomment %}





                    </div>
                    <!-- end tab content -->

                </div>

            </div>
            <!-- end contnet -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


{% endblock %}

