{% extends 'base.html' %}
{% load static %}
{%block content%}
{% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{%static　'css/forgotP.css'%}">


  <title>NFT Platform</title>

    <!-- container -->
    <div class="container" id="round-corner">

      <div class="row mt-5 mb-5 justify-content-around" id="row">

          <!-- content -->
          <div class="col-8 mt-3" id="form-div">

              <div class="h1 mt-3">
                  <h1>Password Reset Complete</h1>
              </div>
              <div class="reset mb-5">
                  <h3 class="resetpw-done mt-5">
                      Your password has been set.<br>You may go ahead and log in now.
                  </h3>

                  <div class="small mt-5">
                      <label><a href="{%url 'login_user'%}">Log in !</a></label>
                  </div>

              </div>

          </div>

      </div>
  </div>


  <!-- Bootstrap script -->


{%endblock%}