{% extends 'base.html' %}
{%block content%}
{% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{%static 'css/forgotP.css'%}">
  <title>NFT Platform</title>
    <!-- round corner container -->
    <div class="container" id="round-corner">

      <div class="row justify-content-around" id="row">

          <!-- content -->
          <div class="col-8 mt-5" id="form-div">

              <div class="h1 mt-4 mb-5">
                  <h1>Password Reset Sent</h1>
              </div>

              <div class="reset mt-4 mb-5">
                  <p class="resetpwd"> We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br> You should receive them shortly.</p>
                  <p class="resetpwd"> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam!!
                  </p>

              </div>
          </div>

      </div>

    </div>
    <!-- end round corner container -->

  <!-- Bootstrap script -->


{%endblock%}