{% extends 'base.html' %}
{%block content%}
{% load static %}
{% comment %} <style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style> {% endcomment %}

  <link rel="stylesheet" href="{%static　'css/forgotP.css'%}">

  <title>NFT Platform</title>

    <!-- container -->
    <div class="container" id="round-corner">

      <div class="row justify-content-around mt-3" id="row">

          <!-- content -->
          <div class="col-8 p-4" id="form-div">

              <div class="h1 mt-3">
                  <h1>Enter Your New Email !!</h1>
              </div>

              <div class="mt-5" id="reset-div">

                  <div id="reset-pw">

                      <div class="remind-text">
                          <p>Forgotten your password? <br>Enter your email address below,
                              <br>and we'll email instruction for setting a new one.
                          </p>
                      </div>

                      <div class="mb-5 " id="form">
                          <form method="POST" class="form-signin">
                            {% csrf_token %}
                              <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
                              <input name="email" class="form-control rounded-pill mb-3" placeholder="Email address" type="email" id="id-email" required="true" style="font-size: 18px;">
                              <button class="btn btn-lg btn-block mb-3" type="submit">Send reset email</button>
                          </form>
                      </div>

                  </div>


              </div>

          </div>

      </div>

  </div>
  <!-- end row -->

{%endblock%}