{% extends 'base.html' %}
{% load static %}
{%block content%}
{% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{%static　'css/forgotP.css'%}">


  <title>NFT Platform</title>

    <!-- round corner container -->
    <div class="container" id="round-corner">

      <div class="row justify-content-around" id="row">

        <!-- left img -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="forgotP-img-div">
          <img id="forgotP-img" src="{% static 'imgs/forgotP.jpg' %}" alt="forgotP.jpg">
        </div>
        <!-- end of left img -->

        <!-- right side sign in form -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="form-div">

          <div class="h1">
            <h1>Enter Your New Password!!</h1>
          </div>

          <!-- tabs (personal/enterprice sign in)-->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link form-switcher active" id="personal-tab" data-toggle="tab" href="#personal" role="tab"
                aria-controls="home" aria-selected="true">個人 Personal＆企業 Enterpriｓe</a>
            </li>

          </ul>
          <!-- end tabs (personal/enterprice sign in)-->

          <!-- tab content that controled by tabs(personal/enterprice) -->
          <div class="tab-content" id="myTabContent">

            <!-- personal sign in -->
            <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="home-tab">
              <br>
              {% if validlink %}
                <form method="post">
                  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                  {%csrf_token %}
                  {{ form.as_p }}
                  <br>


                  <button type="submit" class="btn btn-primary" id="re-Submit">Update Password</button>

                </form>
              {% else %}

                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

              {% endif %}

            </div>
            <!-- end personal sign in -->

            <!-- enterprice sign in -->
            <div class="tab-pane fade" id="enterprice" role="tabpanel" aria-labelledby="profile-tab">

            </div>
            <!-- end enterprice sign in -->

          </div>
          <!-- end tab content that controled by tabs(personal/enterprice) -->

        </div>
        <!-- right side sign in form -->

      </div>
      <!-- end row -->

    </div>
    <!-- end round corner container -->

  </div>
  <!-- end of fixed container -->



{%endblock%}