{% extends 'base.html' %}
{%block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/buyConfirm.css'%}">

<!-- start form -->
<div class="wrapper p-4" id="form-container">
	<form class="form-register" id="form-register" action="exhibitionOrder" method="POST">
		{%csrf_token%}
		<div class="container border w-75 p-4 m-3 mx-auto my-shadow">
			<h2>Personal Info Confrimation</h2>
			<div class="form-group">
				<label for="user-name">User Name:</label>
				<input type="text" id="user-name" class="form-control rounded-pill" name="user_name" value="{{customerProfile.customeruser.username}}" required
					readonly>
			</div>
			<div class="form-group">
				<label for="email">E-Mail:</label>
				<input type="email" id="email" class="form-control rounded-pill" name="email" value="{{customerProfile.personal_email}}" required
					readonly>
			</div>
			<div class="form-group">
				<label for="wallet_ID">Wallet Address:</label>
				<input type="text" id="wallet_ID" class="form-control rounded-pill" name="wallet_ID"
				value="{{customerProfile.personal_walletId}}" required readonly>
			</div>
		</div>

		<div class="container border w-75 p-4 m-3 mx-auto my-shadow">
			<h2>Ticket Info Confrimation</h2>
			<div class="form-group">
				<label for="ticket_name">Event Name : </label>
				<input type="text" id="ticket_name" class="form-control rounded-pill" name="ticket_name" value="{{eachExhibition.eventname}}"
					required readonly>
			</div>
			<div class="form-group">
				<label for="ticket_type">Event Type : </label>
				<select class="form-control rounded-pill" name="ticket_type" disabled="disabled">
					<!-- selected是預設被選起來的選項 -->
					<option value="exhibition" selected>{{eachExhibition.category}}</option>
					{% comment %} <option value="show">表演活動</option> {% endcomment %}
				</select>
			</div>
			<div class="form-group">
				<label for="ticket_num">Ticket Number:</label>
				<input type="number" id="ticket_num" class="form-control rounded-pill" name="ticket_num" value="1" required
					readonly>
			</div>
		</div>

		<div class="container border w-75 p-4 m-3 mx-auto my-shadow">
			<h2>Cost Confirmation</h2>
			<div class="form-group">
				<label for="ticket_cost">Ticket Cost</label>
				<input type="number" class="form-control rounded-pill" id="ticket_cost" name="ticket_cost" value="{{eachExhibition.eventprice}}"
					required readonly>
			</div>
			<div class="form-group">
				<label for="fee">Handling Cost</label>
				<input type="number" class="form-control rounded-pill" id="fee" name="fee" value="0.01" required readonly>
			</div>
			<div class="form-group">
				<label for="total_cost">Total Cost</label>
				<input type="number" class="form-control disabled rounded-pill" id="total_cost" name="total_cost" required
					readonly>
			</div>
		</div>

		<div class="container w-75 mx-auto">
			<div class="d-flex justify-content-between">
				{% if catenum == 1 %}
					<a href="{% url 'exhibition' %}" class="btn btn-secondary btn-lg rounded-pill">Back</a>
				{%else %}
                	<a href="{% url 'performance' %}" class="btn btn-secondary btn-lg rounded-pill">Back</a>
            	{%endif%}
				<input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Submit">
			</div>
		</div>

	</form>
</div>
<!-- end form -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script> {% endcomment %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#feee').val(parseFloat(($('#ticket_cost').val()*0.03)));

		$('#total_cost').val((parseFloat($('#ticket_cost').val())+parseFloat($('#fee').val())).toFixed(3));

	});

</script>


{%endblock%}
