
{% extends 'base.html' %}
{%block content%}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/company.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&display=swap">
    <!-- font awesome link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <!-- Chart.js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>NFT Platform</title>

    <script> //這裡可以用那個部落格的方法做新增 </script>
    <style>
        .sidebar-item:hover .sidebar-item-a {
            color:black !important;
        }

        .sidebar-item:hover {
            transition: all 0.3s;
            background-color: white;
            color: #1AB6E4;
            font-weight: 600;
            cursor: pointer;
        }

    </style>

</head>

<body>




    <!-- --------------------------------------------------------------------------------------------------------------------- -->

    <!-- sidebar + content -->
    <div class="wrapper p-0">


        <!-- 遠謀有改start -->
        <!-- sidebar -->
        <nav class="sidebar" id="sidebar">
            <ul class="list-unstyled sidebar-compos">
                <li class="sidebar-item" id="tab-info">
                    <i class="fa-solid fa-user i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'company'%}">Company Info</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-wallet i-item"></i>
                    <a class="sidebar-item-a" id="personal-asset" href="{%url 'companyAsset'%}">Company Asset</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-ticket i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'eventcreatform'%}">Create Events</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-circle-question i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'salesstatus'%}">Sale Status</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-circle-question i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'companyhelpcenter'%}">Help Center</a>
                </li>

            </ul>
        </nav>
        <!-- end sidebar -->
        <!-- 遠謀有改end -->

        <div class="content-container container">

            <div class="row" id="content-row">

                <div class="col-12 p-0 active" id="pane-info">

                    <div class="container border my-shadow">
                        <div class="border-bottom row">
                            <h1 class="col my-auto">Company's Information</h1>
                        </div>
                        <div class="border-bottom row">
                            <p class="col my-auto">Company's Name</p>
                            <p class="col my-auto">{{companyuserProfile.companyuser.username}}</p>
                        </div>
                        <div class="border-bottom row">
                            <p class="col my-auto">Company's Email</p>
                            <p class="col my-auto">{{companyuserProfile.companyuser.email}}</p>
                        </div>
                        <div class="border-bottom row">
                            <p class="col my-auto">Company's WalletAddress</p>
                            <p class="col my-auto ml-5" id="dvPassport11">{{companyuserProfile.company_walletId}}</p>
                            <input type="button" class="btn btn-primary btn-sm my-auto rounded-pill"
                                style="font-size:small" value="Revise" name="btnPassport" />
                            <div class="col my-auto" id="dvPassport" style="display: none">
                                <form class="form my-auto" method="POST" action="{% url 'companyInfowallet'%}">
                                    {% csrf_token %}

                                    <input type="text" id="txtwalletNumber" name='cmpwalletid' class="rounded-pill"
                                        style="background-color: #65639E; color: white;" />
                                    <button type="submit" class="btn btn-primary btn-sm rounded-pill"
                                        style="font-size:small" value="提交" name="btnPassport">Submit</button>

                                </form>
                            </div>

                            {% comment %} <p class="col my-auto">23gdgery5yregfdgry5etergju</p> {% endcomment %}
                        </div>
                        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                <script type="text/javascript">
                                    $(function () {
                                        $("input[name=btnPassport]").click(function () {
                                            if ($(this).val() == "Revise") {
                                                $(this).hide();
                                                $("#dvPassport11").hide();
                                                $("#dvPassport").show();

                                            } else {
                                                $("#dvPassport").hide();
                                                $("#dvPassport11").show();
                                            }
                                        });
                                    });
                                </script>


                        {%if eventstatus %}
                            {%for i in num%}
                                {% if i == 1 %}
                                    <div class="border-bottom row">
                                        <p class="col my-auto">Number of Total Events</p>
                                        <p class="col my-auto">{{eventstatus.1}}</p>
                                    </div>
                                {%endif%}
                                {% if i == 2 %}
                                    <div class="border-bottom row">
                                        <p class="col my-auto">Number of Ongoing Events</p>
                                        <p class="col my-auto">{{eventstatus.2}}</p>
                                    </div>
                                {%endif%}
                                {% if i == 3 %}
                                    <div class="row">
                                        <p class="col my-auto">Number of Closing Events</p>
                                        <p class="col my-auto">{{eventstatus.3}}</p>
                                    </div>
                                {%endif%}
                            {% endfor %}

                        {% else %}
                            <div class="border-bottom row">
                                <p class="col my-auto">Number of Total Events</p>
                                <p class="col my-auto">0</p>
                            </div>
                            <div class="border-bottom row">
                                <p class="col my-auto">Number of Ongoing Events</p>
                                <p class="col my-auto">0</p>
                            </div>
                            <div class="row">
                                <p class="col my-auto">Number of Closing Events</p>
                                <p class="col my-auto">0</p>
                            </div>
                        {% endif %}
                    </div>
                </div>


            </div>

        </div>


    </div>
    <!-- end sidebar + content -->

    <!-- --------------------------------------------------------------------------------------------------------------------- -->




    <!-- Bootstrap JS -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script> {% endcomment %}
    <script src="{% static 'js/company.js'%}"></script>

</body>

</html>

{%endblock%}