
{% extends 'base.html' %}
{%block content%}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/company.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&display=swap">
    <!-- font awesome link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <!-- Chart.js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>NFT Platform</title>

    <script> //這裡可以用那個部落格的方法做新增 </script>
    <style>
        .sidebar-item:hover .sidebar-item-a {
            color:black !important;
        }
        .sidebar-item:hover {
            transition: all 0.3s;
            background-color: white;
            color: #1AB6E4;
            font-weight: 600;
            cursor: pointer;
        }

    </style>
</head>

<body>




    <!-- --------------------------------------------------------------------------------------------------------------------- -->

    <!-- sidebar + content -->
    <div class="wrapper p-0">


        <!-- 遠謀有改start -->
        <!-- sidebar -->
        <nav class="sidebar" id="sidebar">
            <ul class="list-unstyled sidebar-compos">
                <li class="sidebar-item" id="tab-info">
                    <i class="fa-solid fa-user i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'company'%}">Company Info</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-wallet i-item"></i>
                    <a class="sidebar-item-a" id="personal-asset" href="{%url 'companyAsset'%}">Company Asset</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-ticket i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'eventcreatform'%}">Create Events</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-circle-question i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'salesstatus'%}">Sale Status</a>
                </li>

                <li class="sidebar-item" >
                    <i class="fa-solid fa-circle-question i-item"></i>
                    <a class="sidebar-item-a" href="{%url 'companyhelpcenter'%}">Help Center</a>
                </li>

            </ul>
        </nav>
        <!-- end sidebar -->
        <!-- 遠謀有改end -->

        <div class="content-container container">

            <div class="row" id="content-row">



                <div class="col-12 p-0 border p-3 my-shadow" id="pane-activity">
                    <h1>Create Your Event!</h1>
                    <form action="createevent" method="POST" enctype ="multipart/form-data">
                        {%csrf_token%}
                        <div class="form-group">
                            <label>Event Type :</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    {{eventform.category}}

                                    {% comment %} <input type="radio" class="form-check-input" name="activity-type" required> {% endcomment %}
                                    {% comment %} 展覽 {% endcomment %}
                                </label>
                            </div>
                            {% comment %} <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="activity-type" required>
                                    表演活動
                                </label>
                            </div> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <label for="activity-name">Event Name :</label>
                            {{eventform.eventname}}
                            {% comment %} <input type="text" class="form-control rounded-pill" name="activity-name" id="activity-name"
                                required> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <label for="activity-content">Event Info :</label>
                            {{eventform.eventdescription}}
                            {% comment %} <input type="text" class="form-control rounded-pill" name="activity-content"
                                id="activity-content" required> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <label for="ticket-amount">Issued Number :</label>
                            {{eventform.eventticketnumber}}
                            {% comment %} <input type="number" class="form-control rounded-pill" name="ticket-amount"
                                id="ticket-amount" required> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <label for="ticket-price">Ticket Price :</label>
                            {{eventform.eventprice}}
                            {% comment %} <input type="number" class="form-control rounded-pill" name="ticket-price" id="ticket-price"
                                required> {% endcomment %}
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="activity-start-datetime">Starting Time :</label>
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    {{eventform.date_StartTime}}
                                    {% comment %} <input type="datetime-local" class="form-control" name="activity-start-datetime"
                                        id="activity-start-datetime" required> {% endcomment %}
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        $("#datetimepicker1").datetimepicker({
                                            format: 'DD/MM/YYYY HH:mm',
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="activity-end-datetime">Ending Time :</label>
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        {{eventform.date_EndTime}}
                                        {% comment %} <input type="datetime-local" class="form-control" name="activity-end-datetime"
                                        id="activity-end-datetime" required> {% endcomment %}
                                    </div>
                                    <script>
                                        $(function () {
                                            $("#datetimepicker2").datetimepicker({
                                                format: 'DD/MM/YYYY HH:mm',
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="activity-image">Event Picture</label>
                            {{eventform.event_pic}}
                            {% comment %} <input type="file" class="form-control rounded-pill" name="activity-image"
                                id="activity-image" required> {% endcomment %}
                        </div>
                        <div class="d-flex justify-content-between">
                            <input type="reset" class="btn btn-secondary btn-lg rounded-pill" value="Reset">
                            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Submit">

                        </div>
                        {{eventform.errors}}
                    </form>
                </div>



            </div>

        </div>


    </div>
    <!-- end sidebar + content -->

    <!-- --------------------------------------------------------------------------------------------------------------------- -->




    <!-- Bootstrap JS -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script> {% endcomment %}
    <script src="{% static 'js/company.js'%}"></script>

</body>

</html>

{%endblock%}