* {
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    background-image: url(../imgs/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* ------------------------- CSS for navbar ------------------------- */

.navbar #brand-name {
    font-size: 30px;
    font-weight: 900;
    color: white;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar #brand-name:hover {
    color: white;
    opacity: 1;
    transition: 0.5s;
}

.navbar-custom {
    /* background: linear-gradient(90deg, #524398 0%, #a8c0ff 100%); */
    background-color: #301451;
}

.navbar .nav-link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar .nav-link:hover {
    transition: 0.5s;
    opacity: 1;
    color: white;
}

.navbar .nav-item .dropdown-menu {
    background-color: #301451;
}

.navbar .nav-item .dropdown-menu>a {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    transition: all 0.3s;
}

.navbar .nav-item .dropdown-menu>a:hover {
    background-color: #301451;
    color: white;
    opacity: 1;
    transition: all 0.3s;
}

.navbar .navbar-toggler {
    background-color: black;
}

.container-fluid {
    height: 100vh;
}

.container-fluid .container .row {
    width: 100%;
    height: 90%;
    padding: 30px;
    margin-bottom: 500px;
    /* outline: 2px solid white; */
}

.container-fluid .container .row #form-div {
    width: 100px;
    height: 100%;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(42, 184, 210), darkorchid) 1;
    background-image: linear-gradient(to bottom, #3e1979, #391869, #331659, #2d154a, #26133b);
    opacity: 0.9;
    /* border-radius: 30px; */
    /* won't work for border-image */
}

.container-fluid .container .row #form-div h1 {
    text-align: center;
    color: white;
}


/* ------------------------- reset ------------------------- */

.container .row #form-div #reset-div #reset-pw .remind-text {
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 0 10px;
}

.container .row #form-div #reset-div #reset-pw #form {
    /* outline: 2px solid white; */
    padding: 10px 15px;
}

.container .row #form-div #reset-div #reset-pw .form-signin input {
    color: white;
    background-color: #39165c;
    box-shadow: none;
    padding: 0 20px;
}

.container .row #form-div #reset-div #reset-pw .form-signin button {
    /* outline: 1px solid white; */
    color: rgba(255, 255, 255, 0.741);
    font-size: 22px;
    font-weight: 600;
    background-color: #451b63;
    /* color: linear-gradient(90deg, #d63dd5 0%, #2bd5d5 100%);
    background: -webkit-linear-gradient(90deg, #d63dd5 0%, #2bd5d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.container .row #form-div #reset-div #reset-pw #form .form-signin button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #301451;
}


/* ------------------------- complete ------------------------- */

.container-fluid .container #form-div .reset {
    width: 70%;
    height: 50%;
    margin: 0 auto;
}

.container-fluid .container #form-div .reset .resetpw-done {
    color: white;
    text-align: center;
}

.container-fluid .container #form-div .reset .small {
    font-size: 25px;
    text-align: center;
    color: white;
}

.container-fluid .container #form-div .reset .small label {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 15px;
    transition: 0.4s;
    cursor: pointer;
}

.container-fluid .container #form-div .reset .small label a {
    font-weight: 600;
    color: linear-gradient(90deg, #d63dd5 0%, #2bd5d5 100%);
    background: -webkit-linear-gradient(90deg, #d63dd5 0%, #2bd5d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-fluid .container #form-div .reset .small label:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


/* ------------------------- reset done ------------------------- */

.container-fluid .container #form-div .reset {
    width: 90%;
    /* outline: 1px solid white; */
}

.container-fluid .container #form-div .reset p {
    text-indent: 8%;
    color: white;
    font-size: 20px;
}


/* ------------------------- reset confirm ------------------------- */

.container-fluid .container #form-div #change-pw {
    /* outline: 1px solid white; */
    width: 80%;
    margin: 0 auto;
}

.container-fluid .container #form-div #change-pw form {
    /* outline: 2px solid cyan; */
    width: 80%;
    margin: 0 auto;
}

.container-fluid .container #form-div #change-pw form input {
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #39165c;
    box-shadow: none;
    padding: 0 20px;
}

.container-fluid .container #form-div #change-pw form button {
    color: rgba(255, 255, 255, 0.741);
    font-size: 22px;
    font-weight: 600;
    background-color: #451b63;
    border: none;
}

.container-fluid .container #form-div #change-pw form button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #301451;
}