body {
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    /* z-index: 1; */
    background-color: #f2ede7;
    /* border: 2px solid violet; */

}


/* ------------------------- CSS for navbar ------------------------- */

.navbar #brand-name {
    font-size: 30px;
    font-weight: 900;
    color: white;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar #brand-name:hover {
    color: white;
    opacity: 1;
    transition: 0.5s;
}

.navbar-custom {
    /* background: linear-gradient(90deg, #524398 0%, #a8c0ff 100%); */
    background-color: #301451;
}

.navbar .nav-link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar .nav-link:hover {
    transition: 0.5s;
    opacity: 1;
    color: white;
}

.navbar .nav-item .dropdown-menu {
    background-color: #301451;
}

.navbar .nav-item .dropdown-menu>a {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    transition: all 0.3s;
}

.navbar .nav-item .dropdown-menu>a:hover {
    background-color: #301451;
    color: white;
    opacity: 1;
    transition: all 0.3s;
}

.navbar .navbar-toggler {
    background-color: black;
}


/* .wrapper {
    display: flex;
    background-image: url(../imgs/bg-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */



/* -------------------------- 遠謀 sidebar -------------------------- */

.wrapper {
    display: flex;
    transition: 0.5s;
    color: white;
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper .sidebar {
    color: white;
    font-weight: bold;
    /* Apply to all changed properties */
    /* transition -> close sidebar transition */
    transition: all 0.5s;
    min-width: 50px;
    position: fixed;
}

.sidebar-item {
    padding: 10px;
    display: inline-block;
}

.sidebar-item:hover .sidebar-item-a {
    text-decoration: none;
    color: #1a0133;
}

.sidebar-item:hover {
    transition: all 0.3s;
    background-color: #fff;
    color: #1AB6E4;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-item:not(:hover) {
    transition: 0.5s;
    color: white;
    border-radius: 50px;
}

.sidebar-item-a {
    display: none;
    color: white;
    font-size: 16px;
}

.sidebar-item-a:hover {
    transition: 0.5s;
}

.sidebar-item-a:not(:hover) {
    transition: 0.5s;
    color: white;
}

.sidebar-header {
    margin: 30px 0;
    color: black;
}

.sidebar ul {
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 10px;
    border-right: 3px solid white;
}

.sidebar ul:hover {
    width: 130%;
}

.sidebar ul:hover .sidebar-item-a {
    display: inline;
    width: 150px;
}

.sidebar ul li a.active>a,
a[aria-expnaded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

#dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}


/*------------------------- content pane -------------------------*/

.content-container {
    /* margin-left: 0; */
    /* border-left: 1px solid black; */
    /* background-image: url(/imgs/bg-img.jpg); */
    /* background-color: #8EA9EE;
    background-color: #371769; */
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    min-width: 50%;
    z-index: 2;
    color: #FFF;
}

.content-container #content-row {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    transition: all 0.5s;
}

.content-container .row .tab-content {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 0;
}


/* ------------------ INFO content ------------------ */
.tab-content #pane-asset #three-cards #convert-usd {
    display: none;
    height: fit-content;
}

.tab-content #pane-asset #three-cards #convert-usd .card-body select,
.tab-content #pane-asset #three-cards #convert-ntd .card-body select {
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
}

.tab-content>.tab-pane{
    display: block !important;
}
.tab-content #pane-info #user-info-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.tab-content #pane-info #user-info-intro #info-title {
    font-size: 3.6em;
    text-align: center;
    color: white;
}

.tab-content #pane-info #user-info-intro .content-title #info-title-cn {
    font-size: 1.4em;
    font-weight: 600;
}

.tab-content #pane-info #user-info-intro .content-title #info-title-en {
    font-size: 0.6em;
    font-weight: 600;
}

.tab-content #pane-info #user-info-img {
    width: 90%;
    height: 90%;
    /* border: 2px solid violet; */
}

.tab-content #pane-info #info-card {
    /* border: 2px solid gray; */
    margin: 0 10%;
    border-radius: 15px;
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    border-radius: 24px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.7);
}

.tab-content #pane-info #contact-card {
    margin: 0 10%;
    border-radius: 15px;
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    border-radius: 24px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.7);
}

.tab-content #pane-info #contact-card #contacts {
    /* border: 2px solid violet; */
    width: 100%;
}

.tab-content #pane-info #info-card .infos,
.tab-content #pane-info #contact-card #contacts {
    width: 100%;
}

.tab-content #pane-info #info-card .infos #info-card-title,
.tab-content #pane-info #contact-card .infos #contact-card-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab-content #pane-info #info-card .infos #info-card-title small,
.tab-content #pane-info #contact-card .infos #contact-card-title small {
    font-size: 14px;
}

.tab-content #pane-info #info-card .infos .content-row,
.tab-content #pane-info #contact-card #contacts .content-row {
    max-width: 100%;
    margin: 0 auto;
}

.tab-content #pane-info #info-card .infos .content-row:hover,
.tab-content #pane-info #contact-card #contacts .content-row:hover {
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    transition: 0.4s;
    cursor: pointer;
}

.tab-content #pane-info #info-card .infos .photo .row>*,
.tab-content #pane-info #contact-card .infos .photo .row>* {
    height: 50px;
    /* border: 2px solid violet; */
    width: 100%;
    align-items: center;
}

.tab-content #pane-info #info-instruction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pane-info #info-instruction #notation .modal {
    z-index: 10000000 !important;
    /* due to left-sidebar's z-index, this should pint ot top layer*/
}


/* ------------------ ASSET content ------------------ */

.tab-content #pane-asset #user-asset-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid navy; */
    border-radius: 20px;
    width: 100%;
}

.tab-content #pane-asset #user-asset-intro .content-title {
    text-align: center;
    color: white;
}

.tab-content #pane-asset #user-asset-intro .content-title #title-cn {
    font-size: 2.3em;
    font-weight: 600;
}

.tab-content #pane-asset #user-asset-intro .content-title #title-en {
    font-size: 1.0649em;
    font-weight: 600;
}

.tab-content #pane-asset #user-asset-img {
    width: 95%;
    height: 95%;
}


/*----------------- Asset Profit card -----------------*/

.tab-content #pane-asset #three-cards {
    /* border: 3px solid gray; */
    width: 95%;
    margin: 0 auto;
}

.tab-content #pane-asset #three-cards .card {
    border: none;
    color: white;
    opacity: 0.9;
    background-image: radial-gradient(circle, #300366, #2a0459, #24054c, #1e043f, #1a0133);
    /* box-shadow: 7px 7px 4px #c3c3c3, -3px -3px 4px #fdfdfd; */
}

.tab-content #pane-asset #three-cards .three-cards-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    /* padding: 0 3%; */
}

.tab-content #pane-asset #three-cards .three-cards-title .card-title {
    font-weight: 600;
    font-size: 20px;
}

.tab-content #pane-asset #three-cards #invisible-switch {
    font-size: 20px;
}

.tab-content #pane-asset #three-cards #visible-switch {
    display: none;
    font-size: 20px;
    /* border: 2px solid black; */
}

#three-cards .card .card-body .fa-eye:hover {
    cursor: pointer;
}

.tab-content #pane-asset #three-cards #total-holdings,
.tab-content #pane-asset #three-cards #convert-ntd {
    height: fit-content;
}

.tab-content #pane-asset #three-cards #convert-ntd .card-body select {
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px #fff, -5px -5px 5px #fff; */
    /* background-image: radial-gradient(circle, #300366, #2a0459, #24054c, #1e043f, #1a0133); */
}

#three-cards .card .card-body .b-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid violet; */
}

#three-cards .card .card-body .b-div .b-num {
    font-size: 45px;
}

#three-cards .card .card-body .b-div .b-unit,
#three-cards .card .card-body .b-div .b-percent {
    font-size: 23px;
}


/* ------------------------------- chart row ------------------------------- */

.tab-content #pane-asset #chart-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid violet; */
    width: 100%;
    margin: 0 auto;
    color: white !important;
}

.tab-content #pane-asset #chart-row .card {
    background-color: inherit;
    padding: 0;
    border-radius: 20px;
    background-image: linear-gradient(to top, #300366, #2a0459, #24054c, #1e043f, #1a0133);
    opacity: 0.9;
    /* outline: 1px solid white; */
}

.tab-content #pane-asset #chart-row .card #chart-head {
    padding: 0;
    border-bottom: 2px solid darkgrey;
    text-align: center;
    /* outline: 1px solid white; */
}


/* .tab-content #pane-asset .card .row {
    outline: 1px solid white;
} */

.tab-content #pane-asset .card .canvas-container {
    width: 100%;
    height: fit-content;
}


/* ------------------------------- tables row ------------------------------- */

.tab-content #pane-asset .tables .table-header {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.tab-content #pane-asset .tables .table-container table {
    color: white;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #300366, #2a0459, #24054c, #1e043f, #1a0133);
}

.tab-content #pane-asset .tables .table-container table thead {
    color: rgb(245, 245, 120);
    background-color: #1e043f;
}

.tab-content #pane-asset .tables .table-container table tbody tr:hover {
    color: cyan;
}

#pane-asset .tables .table-container table tbody .claim .claim-btn,
#pane-asset .tables .table-container table tbody .enter .enter-btn,
#pane-asset .tables .table-container table tbody .auth .auth-btn {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    /* background-color: #FFF; */
    box-shadow: 3px 3px 3px #888888;
}

#pane-asset .tables .table-container table tbody .enter .enter-btn {
    color: #300366;
    --fa-animation-duration: 3s;
}

#pane-asset .tables .table-container table tbody .auth .auth-btn {
    color: #01A7C2;
    --fa-animation-duration: 4s;
}

#pane-asset .tables .modal form input {
    background: white;
    border: none;
    width: 100%;
}

#pane-asset .tables .modal form #confirm-btn-div {
    border-top: 3px solid gray;
}

#pane-asset .tables .modal form #confirm-btn-div div {
    width: auto;
    margin: 0px auto;
}


/*------------------------- TRANSFER content -------------------------*/

.tab-content #pane-transfer {
    width: 100%;
    position: relative;
}

.tab-content #pane-transfer #transfer-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0 auto;
    /* border: 2px solid violet; */
}

.tab-content #pane-transfer #transfer-intro #transfer-title {
    text-align: center;
    font-weight: 600;
    color: white;
    /* border: 2px solid violet; */
}

.tab-content #pane-transfer #transfer-intro #transfer-title #title-cn {
    font-size: 2.4em;
}

.tab-content #pane-transfer #transfer-intro #transfer-title #title-en {
    font-size: 1em;
}

#pane-transfer #transfer-intro #transfer-img-div #transfer-img {
    /* border: 2px solid violet; */
    width: 95%;
    height: 95%;
}

#pane-transfer .row #form-div {
    /* "." means current folder, ".." means parent folder */
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    /* padding: 500px; */
    /* width: fit-content; */
    height: 800px;
    overflow: hidden;
    position: relative;
}

#pane-transfer .row #form-div .steps {
    border-radius: 5px;
    background-color: #FFF;
    border: 2px solid black;
    opacity: 0.9;
    color: #3f2b96;
    font-weight: 600;
    margin: 30px auto;
    padding: 30px 40px;
    width: 550px;
    height: 560px;
    min-width: 300px;
    position: absolute;
    left: 260px;
    transition: 0.6s;
}

#pane-transfer .row #form-div #step-2,
#pane-transfer .row #form-div #step-3 {
    left: 1110px;
    border: 2px solid black;
}

#pane-transfer .row #form-div #step-4 {
    left: 1110px;
}

#pane-transfer .row #form-div #step-4 .row span {
    /* must add "display: block;" when styling span's width */
    display: block;
    width: 180px;
    overflow: auto;
}

#pane-transfer .row #form-div #form-title #span-cn {
    font-size: 36px;
}

#pane-transfer .row #form-div #form-title #span-en {
    font-size: 25px;
}

#pane-transfer .row #form-div .tab-labels {
    font-size: 20px;
    color: #253ecc;
}

#pane-transfer .row #form-div .labels {
    font-size: 30px;
}

#pane-transfer .row #form-div .steps input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#pane-transfer .row #form-div #step-3 #veri-label,
#pane-transfer .row #form-div #step-3 #veri-code {
    font-size: 20px;
}

#pane-transfer .row #form-div #sender-item-dropdown {
    width: 100%;
    height: 35px;
    font-size: 19px;
    padding: 0px 10px;
    border-radius: 5px;
}


/*------------------------- HELP content -------------------------*/

.tab-content #pane-help #help-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-help #help-intro #help-title {
    color: white;
    text-align: center;
}

.tab-content #pane-help #help-img {
    width: 90%;
    height: 100%;
}

#pane-help #textarea-row #help-msg-div {
    height: 100%;
    /* border: 2px solid black; */
    margin: 0 auto;
}

#pane-help #textarea-row #help-msg-div .card-header {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    background-color: #2a0459;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pane-help #textarea-row #help-msg-div #help-card {
    border-radius: 10px;
    width: 80%;
    background-color: inherit;
    margin: 0 auto;
    padding: 0;
    border: 2px solid black;
}

#pane-help #textarea-row #help-msg-div #help-card .text-info {
    display: block;
}

#pane-help #textarea-row #help-msg-div #textarea-div {
    padding: 10px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pane-help #textarea-row #help-msg-div #textarea-div #textarea:focus {
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
    outline: 3px solid #9dc4e0;
}

#pane-help #textarea-row #help-msg-div #help-card .text-info #textarea-btn {
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    background-color: white;
    color: #008acd;
}

#pane-help #textarea-row #help-msg-div #help-card .text-info #textarea-btn:hover {
    transition: 0.4s;
    background-color: #008acd;
    color: white;
}


/* -------------------- footer -------------------- */

.footer {
    background-color: rgb(32, 1, 32);
    position: relative;
    bottom: 0px;
    z-index: 3;
    color: black;
}

.footer .links-div {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    /* align-items: center; */
}


/* this means styles are apply to all descendants (childrens) */

.footer .links-div .sub {
    /* border: 2px solid cyan; */
    border-radius: 5px;
    width: 50%;
    height: auto;
    margin: 20px auto;
}

.footer .sub-header {
    /* border: 2px solid gray; */
    color: rgba(169, 0, 202, 0.71);
    width: 100%;
    text-align: center;
}

.footer .links-div .sub ul {
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid gray; */
}

.footer .links-div .sub ul li {
    list-style-type: none;
    width: 100%;
    margin: 5px auto;
    /* border: 2px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.footer .links-div .sub ul li a {
    /* border: 2px solid lightcoral; */
    color: white;
    margin: 0 auto;
    font-size: 14px;
    transition: 0.3s;
    opacity: 0.7;
}

.footer .links-div .sub ul li a:hover {
    text-decoration: none;
    transition: 0.3s;
    opacity: 1;
}


/* ---------------------- go to top btn ----------------------- */

#myBtn {
    display: none;
    position: fixed;
    height: 50px;
    text-align: center;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
    background-color: #300366;
    color: white;
    cursor: pointer;
    padding: 15px 15px 30px 15px;
    transition: 0.3s;
}

#myBtn:hover {
    background-color: white;
    color: #1e043f;
    transition: 0.3s;
}


/*------------------------- RWD settings -------------------------*/


/* bootstrap xl 1024 ~ infin px, google laptop(>=1024) and XL laptop */

@media screen and (min-width: 1024px) {
    .content-container {
        margin-left: 16%;
        /* border: 5px solid greenyellow; */
    }
    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 18%;
    }
    /* .tab-content #pane-info #info-title {
        font-size: 5em;
        text-align: center;
    } */
    .tab-content #pane-asset #asset-title {
        font-size: 2.1em;
        text-align: center;
    }
    .tab-content #pane-transfer #transfer-title {
        font-size: 2.1em;
        text-align: center;
    }
    .tab-content #pane-help #help-title {
        font-size: 2.1em;
        text-align: center;
    }
    .tab-content #pane-asset #three-cards #asset-profit {
        margin-left: 8%;
        margin-bottom: 5%;
    }
    .tab-content #pane-asset #three-cards #asset-profit {
        margin-bottom: 5%;
    }
    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 15% 0% 15%;
    }
    #pane-transfer .row #form-div #nextBtn {
        margin-left: 10px;
    }
}


/* bootstrap lg 993 ~ 1023px */

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .tab-content #pane-asset #asset-title {
        font-size: 1.8em;
        text-align: center;
    }
    .tab-content #pane-asset #three-cards #asset-profit {
        margin-left: 8%;
        margin-bottom: 5%;
    }
    .tab-content #pane-asset #three-cards #asset-profit {
        margin-bottom: 5%;
    }
    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 15% 0% 15%;
    }
    #pane-transfer .row #form-div input {
        height: 45px;
        padding: 5px;
        font-size: 18px;
    }
    #pane-transfer .row #form-div #sender-wid {
        height: 45px;
        padding: 5px;
        font-size: 17px;
    }
    #pane-transfer .row #form-div #nextBtn {
        margin-left: 10px;
    }
}


/* bootstrap md 768 ~ 991px */

@media screen and (min-width:768px) and (max-width: 992px) {
    /* --------------------------- pane-info --------------------------- */
    .tab-content #pane-info #info-title {
        margin-top: 5%;
        font-size: 1.8em;
    }
    .tab-content #pane-info .card #walletid-part {
        width: 100%;
    }
    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 150px;
    }
    .tab-content #pane-info #info-card .row #walletid-part #bangbang {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }
    /* --------------------------- pane-asset --------------------------- */
    .tab-content #pane-asset #asset-title {
        font-size: 1.8em;
        text-align: center;
    }
    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 10% 0% 10%;
    }
    .tab-content #pane-transfer #transfer-title {
        font-size: 1.8em;
    }
    .tab-content #pane-help #help-title {
        text-align: center;
        font-size: 1.8em;
    }
    .tab-content #pane-asset #three-cards .displays {
        margin-bottom: 5%;
    }
    /* --------------------------- pane-transfer --------------------------- */
    #pane-transfer .row #form-div {
        width: 80%;
    }
    #pane-transfer .row #form-div .labels {
        font-size: 26px;
    }
    #pane-transfer .row #form-div input {
        height: 45px;
        padding: 5px;
        font-size: 18px;
    }
    #pane-transfer .row #form-div #sender-wid {
        height: 45px;
        padding: 5px;
        font-size: 14px;
    }
    #pane-transfer .row #form-div #nextBtn {
        font-size: 18px;
        height: 40px;
        width: 75px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }
    #pane-transfer .row #form-div #prevBtn {
        font-size: 18px;
        height: 40px;
        width: 85px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }
}


/* bootstrap sm 576 ~ 767px */

@media screen and (max-width: 768px) {
    .tab-content #pane-info #info-card .card-body #walletid-part #label-walletid {
        width: 100%;
    }
    .tab-content #pane-info #info-card .card-body #walletid-part #save-wid-btn {
        margin-top: 3%;
    }
    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }
    .tab-content #pane-asset #three-cards #asset-profit,
    .tab-content #pane-asset #three-cards #total-holdings {
        margin-bottom: 5%;
    }
    #smartwizard-procedure #smartwizard-nav {
        display: block;
    }
    #smartwizard-procedure #form-div #step-1 form #wallet-row div input {
        font-size: 14px;
    }
    #pane-transfer .row #form-div {
        width: 100%;
    }
    #pane-transfer .row #form-div {
        width: 80%;
    }
    #pane-transfer .row #form-div #form-title span {
        display: block;
    }
    #pane-transfer .row #form-div #form-title #span-cn {
        font-size: 28px;
    }
    #pane-transfer .row #form-div #form-title #span-en {
        font-size: 25px;
    }
    #pane-transfer .row #form-div .labels {
        font-size: 20px;
    }
    #pane-transfer .row #form-div input {
        height: 35px;
        padding: 5px;
        font-size: 16px;
    }
    #pane-transfer .row #form-div #nextBtn {
        font-size: 16px;
        height: 40px;
        width: 70px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }
    #pane-transfer .row #form-div #prevBtn {
        font-size: 16px;
        height: 40px;
        width: 80px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }
}


/* bootstrap extra small 0 ~ 575 px */

@media screen and (max-width: 576px) {
    .tab-content #pane-info #info-title {
        font-size: 1.5em;
        margin-top: 3%;
    }
    .tab-content #pane-asset #asset-title {
        text-align: center;
        font-size: 1.5em;
    }
    .tab-content #pane-transfer #transfer-title {
        font-size: 1.7em;
    }
    #pane-asset #sum {
        /* center convert to NTD */
        margin: 0px;
    }
    .tab-content #pane-transfer #transfer-title {
        font-size: 1.5em;
    }
    #pane-transfer .row #form-div #form-title #span-cn {
        font-size: 28px;
    }
    #pane-transfer .row #form-div #form-title #span-en {
        font-size: 25px;
    }
    #pane-transfer .row #form-div .labels {
        font-size: 20px;
    }
    #pane-transfer .row #form-div input {
        height: 35px;
        padding: 5px;
        font-size: 16px;
    }
    #pane-transfer .row #form-div #nextBtn {
        font-size: 16px;
        height: 40px;
        width: 70px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }
    #pane-transfer .row #form-div #prevBtn {
        font-size: 16px;
        height: 40px;
        width: 80px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }
    .tab-content #pane-help #help-title {
        font-size: 1.5em;
    }
    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 500px;
    }
    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }
    .tab-content #pane-info #info-card .row #walletid-part #bangbang .btn {
        margin-top: 3%;
    }
    .tab-content #pane-asset #three-cards .displays {
        margin-bottom: 5%;
    }
    .tab-content #pane-transfer #smartwizard-procedure .nav {
        width: 50%;
        font-size: 20px;
        padding: 0 auto;
    }
    .tab-content #pane-transfer .smartwizard .tab-content #form-div {
        background: #7171c7;
    }
}


/*------------------------- end RWD settings -------------------------*/