:root {
    --clr-ganache-brown: #5d464c;
    --clr-ganache-orange: #d89e5e;
    --clr-ganache-dark: #32262a;
    --clr-ganache-light: #f6f5f0;
    --clr-dark: #252525;
}

.container-fluid {
    color: white;
    background-image: linear-gradient(to left bottom, #1ab6e4, #00a0da, #008acd, #1774bd, #2e5dab, #3c5baa, #485aa8, #5258a6, #606cb8, #6e80ca, #7e94dc, #8ea9ee);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#brand {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-shadow {
    border-radius: 24px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.7);
}


.card {
    margin: 10px 0px 10px 0px;
    /* 上右下左 */
    background-color: transparent !important;
    color: black;
    transition: 0.5s;
}

.card:hover {
    background-color: #8EA9EE !important;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    transform: scale(1.1);
}

