* {
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    background-image: url(../imgs/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* ------------------------- CSS for navbar ------------------------- */

.navbar #brand-name {
    font-size: 30px;
    font-weight: 900;
    color: white;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar #brand-name:hover {
    color: white;
    opacity: 1;
    transition: 0.5s;
}

.navbar-custom {
    /* background: linear-gradient(90deg, #524398 0%, #a8c0ff 100%); */
    background-color: #301451;
}

.navbar .nav-link {
    font-size: 16px;
    color: white;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.5s;
}

.navbar .nav-link:hover {
    transition: 0.5s;
    opacity: 1;
    color: white;
}

.navbar .nav-item .dropdown-menu {
    background-color: #301451;
}

.navbar .nav-item .dropdown-menu>a {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    transition: all 0.3s;
}

.navbar .nav-item .dropdown-menu>a:hover {
    background-color: #301451;
    color: white;
    opacity: 1;
    transition: all 0.3s;
}

.navbar .navbar-toggler {
    background-color: black;
}


/* ------------------------- form ------------------------- */

#form-div h1 {
    text-align: center;
    color: #2ccfd6;
    font-weight: 600;
}

#form-div #home {
    /* outline: 1px solid white; */
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #3e1979, #391869, #331659, #2d154a, #26133b);
    opacity: 0.9;
    border-radius: 30px;
    /* box-shadow: 20px 20px 0px #F1EF71; */
    /* box-shadow: 20px 20px 10px #331659, -20px -20px 10px #e35fe4; */
}

#form-div #home .form .form-group label {
    color: #e35fe4;
    cursor: auto;
    font-size: 22px;
    font-weight: 600;
}

#form-div #home .form .form-group input {
    color: #2ccfd6;
    background-color: #391869;
    width: 100%;
    margin: 0 auto;
    border: none;
    box-shadow: none;
}

#form-div #home .form .form-group input:focus {
    transition: 0.3s;
    outline: 1px solid #2ccfd6;
}

#submit-btn {
    color: #2ccfd6;
    font-size: 18px;
    background-color: #391869;
    font-weight: 600;
    border: none;
    transition: 0.4s;
    width: 40%;
}

#submit-btn:hover {
    color: #e35fe4;
}

#form-div .small {
    display: block;
    font-size: 14px;
}

#form-div .small .under-form {
    /* outline: 1px solid hotpink; */
    color: white;
    height: 50px;
}

#form-div .small .under-form>* {
    float: right;
}

#form-div .small label,
#form-div .small label>a {
    transition: 0.3s;
    color: #2ccfd6;
    opacity: 0.7;
}

#form-div .small label,
#form-div .small label>a:hover {
    text-decoration: none;
    opacity: 1;
}
#id_is_staff{
    width:30%;
  }